

html,
div,
map,
dt,
isindex,
form,
header,
aside,
section,
section,
article,
footer {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular";
    background: #f4f4f4;
    font-size: 11px;
    width: 100%;
    /* min-width: 985px;
    min-height: 690px; */
    overflow-y: hidden;
    overflow-x: auto;
}

.Montserrat-Regular {
    font-family: "Montserrat-Regular" !important;
}
@font-face {
    font-family: 'Montserrat-Hairline';
    src: url(../fonts/montserrat/Montserrat-Hairline.otf);
}
.Montserrat-Hairline {
    font-family: 'Montserrat-Hairline' !important;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}
.Montserrat-Thin {
    font-family: "Montserrat-Thin" !important;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/montserrat/Montserrat-Light.otf);
}
.Montserrat-Light {
    font-family: "Montserrat-Light" !important;
}
@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url(../fonts/montserrat/Montserrat-UltraLight.otf);
}
.Montserrat-UltraLight {
    font-family: "Montserrat-UltraLight" !important;
}

.headerClass {
  width: 100%;
  display: flex;
  height: 40px;
  background: #fff;
  align-items: center;
  cursor: text;
  border-bottom: 1px solid #EBF0F3;
}

.headerGearIcon {
  border: none;
  background: transparent;
  cursor: pointer;
}

#websiteLink {
  font-size: 12px;
  color: #3B91DF;
  padding-left: 7%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  max-height: 15px;
  padding-top: 5px;
  font-family: roboto;
  /* height: 16px; */
}

.lowerContainerDiv {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.leftContainerDiv {
  display: flex;
  flex: 2;
  align-items: center;
  padding-top: 15px;
  flex-direction: column;
  transition: 1s;
  display: none;
}

.rightContainerDiv {
  display: flex;
  flex: 3;
  height: 100%;
  background: white;
  flex-direction: column;
  width: 100%;
}

.searchBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b4c4d3;
  /* box-shadow: 0px 0px 1px 0px; */
  height: 32px;
  width: 85%;
}

.searchBoxContainer input {
  border: none;
  background: transparent;
  text-align: center;
}

.searchBoxContainer input:focus {
  border: none;
  outline: none;
}

.searchBoxContainer input::placeholder {
  color: rgb(128, 128, 128, 0.4);  
  font-weight: bold;
}

.testCasesList {
  display: flex;
  width: 100%;
  overflow-y: auto;
  height: 80%;
}

.rightContainerUpper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: white;
  min-height: 35px;
  border-bottom: 1px solid #ebad60;
}

.rightContainerFooter {
  display: flex;
  /* flex: 2; */
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ebac60;
  height: 60px;
}

.saveTestCaseBtn {
  color: white;
  border: none;
  height: 27.16px;  
  width: 148px; 
  border-radius: 5px; 
  background: #000000;  
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.saveTestCaseBtn:focus {
  outline: none;
}

.saveTestCaseBtn:hover {
  background: #FFC107;
}

.testCaseName {
  display: flex;
  flex: 1;
  font-weight: bolder;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 3px;
  font-size: 14px;
  font-family: roboto;
}

.testCaseActionIcons {
  display: flex;
  flex: 3;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 10px;
}

.iconContainer {
  cursor: pointer;
  margin-right: 4px;
}

.iconContainer i {
  font-weight: lighter !important;
  color: #838383;
}

.iconContainer i:hover {
  color:  #3B91DF;
}

.rightContainerLower {
  display: flex;
  flex: 30;
  height: 100%;
  background: #fff;
  overflow-y: auto;
}

.displayHidden {
  display: none !important;
}

#testCaseCollapseSection {
  display: none;
  transition: 1s;
}

.leftToggleContainer {
  background-color: #EBF0F3;
}

#collapseWindow {
  width: 100%;
}

.toggleTestCaseDiv {
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.caseSearchBox {
  width: 85%;
  height: 20px;
  border-bottom: 1px solid #ddd4d4;
  position: relative;
  left: 20px;
}

.caseSearchInput:focus {
  outline: none;
}

#snackbar {
  visibility: hidden;
  width: 210px;
  margin-left: -114px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 16px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.loader {
  border: 2px solid #fff;
  border-radius:100%;
  border-top: 2px solid #ebac60;
  border-bottom: 2px solid #ebac60;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.alternateRow {
  height: 25px;
  border-bottom: 1px solid #D9E0E7 !important;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #f4f6f7;
  font-size: 12px;
}

.fixed > tr {
  background: #dddddd8c;
  box-shadow: 0px 3px 4px #ddd;
}


.fixed tr:first-child>th{
  position: sticky;
    top: 0;
    background: #ececec;
    box-shadow: 0px 3px 4px #ddd;
    border-right: 1px solid #c7c7c7;
    opacity: 1;
    border-bottom: 1px solid #e2e5e7;
    padding-left: 4px;
}

.header {
  width: 100%;
  height: 30px;
  text-align: left;
  font-family: sans-serif;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}

.alternateRow > td {
  overflow:hidden;
  white-space:nowrap;
  font-family: sans-serif;
  padding-left: 5px;
}

.tableRow {
  height: 25px;
  border-bottom: 1px solid #D9E0E7 !important;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.tableRow:hover {
  background: #d2d2d2d5;
}

.tableRow > td {
  max-width: 25vw;
  overflow:hidden;
  white-space:nowrap;
  font-family: sans-serif;
  border-bottom: 1px solid #e2e5e7;
  cursor: default;
  padding-left: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd8c;
}

.tableRow > td:first-child { 
  overflow:hidden;
  white-space:nowrap;
  padding-left: 4px;
  max-width: 40vw;
}

.tablesorter {
  width: 100%;
}

.tableData {
  height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 40px;
  font-size: 10px;
  padding: 2px;
  padding-left: 5px;
  white-space: nowrap;
  text-align: left;
}

.tableData:focus {
  text-overflow: initial;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.inputFeildContainer {
  display: flex;
  flex: 1;
  min-height: 35px;
  align-items: center;
  /* border-bottom: 1px solid #a9a9aa; */
}

.inputFeildContainer > input {
  width: 100%;
  border: none;
  height: 100%;
}

.toggle-btn {
  width: 30px;
  height: 16px;
  border-radius: 20px;
  padding: 3px 3px;
  margin: 0px 5px 0px 6px;
  display: inline-block;
  cursor: pointer;
  line-height: 35px;
  vertical-align: middle;
  box-sizing: border-box;
}

.toggle-btn.active:before {
  content: attr(data-placeholder);
  color: black;
  font-size: 8px;
  position: fixed;
  top: 19px;
}

.toggle-btn.inactive:before {
  content: attr(data-placeholder);
  color: black;
  font-size: 8px;
  position: absolute;
  top: 19px;
  margin-left: 11px;
}

.toggle-btn.active {
    background-color: #000000;
}

.toggle-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*position: absolute;*/
    transition: transform 0.3s ease;
}

.toggle-btn.active .toggle-circle {
    background-color: #FFF;
    transform: translateX(calc(14px));
}

.toggle-btn.inactive .toggle-circle {
    background-color: #524e4e;
    transform: translateX(0px);
}


.toggle-btn.inactive {
    background-color: #b4bbba;
}

#helperText {
  position: absolute;
  left: 12px;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #596363;
}

.fixedColumns {
  max-width: 50vw;
  white-space: nowrap;
}

#xpathInput {
  padding: 0 10px;
}

#debugTestStepName {
  flex: 5;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.copyAllButton{
  background-image: url(../../assets/copy_grey.svg);
  overflow: hidden;
  background-color: #18800000;
  height: 15px;
  width: 14px;
  border: none;
  cursor: pointer;
  margin-top: -2px;
  margin-left: 6px;
}

.copyAllButton:hover {
  background-image: url(../../assets/copy_blue.svg);
}

.copyAllData {
  background-image: url(../../assets/copy_grey.svg);
  overflow: hidden;
  background-color: #18800000;
  height: 15px;
  width: 14px;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  margin-top: -2px;
}

.copyAllData:hover {
  background-image: url(../../assets/copy_blue.svg);
}

.copyAllXpath {
  background-image: url(../../assets/copy_grey.svg);
  overflow: hidden;
  background-color: #18800000;
  height: 15px;
  width: 14px;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  margin-top: -2px;
}

.copyAllXpath:hover {
  background-image: url(../../assets/copy_blue.svg);
}

.xpathColor {
  color: #0aa0ecf2;
}

.remove {
  display: none;
}

.xpathData {
  height: 39px;
  line-height: 40px;
}

.showElement {
  display: flex;
}

#addStep {
  background-image: url(../../assets/plus_grey.svg);
  overflow: hidden;
  height: 14px;
  width: 14px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 7px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

#addStep:hover {
  background-image: url(../../assets/plus_blue.svg);
  background-size: contain;
}

#delButton {
  background-image: url(../../assets/delete_grey.svg);
  overflow: hidden;
  height: 14px;
  width: 14px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 7px;
  background-color: transparent;
  background-repeat: no-repeat;
}

#delButton:hover {
  background-image: url(../../assets/delete_red.svg);
}


#clearTestCase {
  background-image: url(../../assets/deleteAll_grey.svg);
  overflow: hidden;
  height: 22px;
  width: 22px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-right: 5px;
}

#clearTestCase:hover {
  background-image: url(../../assets/deleteAll_red.svg);
}

#recordIcon {
  background-image: url(../../assets/pause_grey.svg);
  overflow: hidden;
  height: 22px;
  width: 22px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-right: 5px;
}

#recordIcon:hover {
  background-image: url(../../assets/pause_blue.svg);
}

#downloadFileName {
  margin: 0;
  font-size: 15px;
  padding: 0px 0 0 13px;
  font-family: sans-serif;
  display: flex;
  font-weight: bolder;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: roboto;
  border-bottom: 1px solid #ebad60;
  align-items: center;
  justify-content: space-between;
}

#downloadFileName > p {
  width: 90%;
  outline: none;
}

#downloadFileName:hover {
  background: #f3f2f2;
}

#downloadFileName:hover .headerIcon {
  visibility: visible;
}

.headerIcon {
  font-size: 14px;
  margin-right: 10px;
  visibility: hidden;
  cursor: pointer;
}

.attributeOption {
  width: 100%;
  min-height: 35px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 13px;
  justify-content: space-around;
  background: #000000;
  color:white;
}

.attributeOption > label {
  display: flex;
  align-items: center;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  height: 20px;
  font-family: sans-serif;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.studioTutorial {
  background-image: url(../../assets/support_grey.svg);
  overflow: hidden;
  height: 22px;
  width: 22px;
  border: none;
  cursor: pointer;
  /*margin-left: 8px;*/
  background-color: transparent;
  /*margin-right: 4px;*/
}

.studioTutorial:hover {
  background-image: url(../../assets/support_blue.svg);
}

.tablePlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-size: 10px;
    color: #989696;
    width: 100%;
    height: calc(100% - 50px);
    white-space: pre;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.wrongXpath {
  background-color: #FF6347;
  color: white;
}

[contenteditable="true"].tableData {
  white-space: nowrap;
  overflow: hidden;
} 
[contenteditable="true"].tableData br {
  display:none;

}
[contenteditable="true"].tableData * {
  display:inline;
  white-space:nowrap;
}

.removeOutline {
  outline: none;
}

.toolTip {
  visibility: hidden;
  background-color: #6d6b6b;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  text-align: center;
  border-radius: 2px;
  padding: 6px 6px;
  font-size: 11px;
}

#recordIcon:hover .pauseBtn.toolTip{
  visibility: visible;
}

.pauseBtn{
    top: 79px;
    line-height: 10px;
}

.tutorialLink:hover .tutorial.toolTip{
  visibility: visible;
}

.tutorial{
    top: 79px;
    line-height: 10px;
}

#clearTestCase:hover .deleteBtn.toolTip{
  visibility: visible;
}

.deleteBtn{
    top: 79px;
    line-height: 10px;
}

.toggle {
  top: 79px;
  line-height: 10px;
  margin-left: -116px;
}

#inputToggle:hover .toggle.toolTip{
  visibility: visible;
}

.copyAllButton:hover .copyAllSteps.toolTip{
  visibility: visible;
}

.copyAllSteps{
    top: 35px;
    margin-left: -52px;
    line-height: normal;
}

.copyAllData:hover .copyAllStepsData.toolTip{
  visibility: visible;
}

.copyAllStepsData{
    top: 35px;
    margin-left: -52px;
    line-height: normal;
}

.copyAllXpath:hover .copyAllCommand.toolTip{
  visibility: visible;
}

.copyAllCommand{
    top: 35px;
    margin-left: -52px;
    line-height: normal;
}

.cpStudio_logo {
    background-image: url(../../assets/cpStudio_logo.svg);
    height: 39px;
    width: 71px;
    overflow: hidden;
    height: 34px;
    width: 34px;
    border: none;
    cursor: pointer; 
    margin-right: 3px;
    background-color: transparent;
}

#downloadFileName p:empty::before{
  content: attr(data-placeholder);
  opacity: 0.5;
}

button:active, button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  box-shadow: none;
}


.cpStudioLogo {
    top: 42px;
    margin-left: -130px;
}
.cpStudio_logo:hover .cpStudioLogo.toolTip{
  visibility: visible;
}